<!-- Auteur: Alaeddine boubaker  -->
<!-- FrontEnd: Employer Manangment  -->
<!-- Site: https://aladinbk.000webhostapp.com/  -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Aladinbk</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a href="https://aladinbk.000webhostapp.com/">Aladinbk</a>
  </div>
</footer><!-- End Footer -->
<!-- Auteur: Alaeddine boubaker  -->
<!-- FrontEnd: Employer Manangment  -->
<!-- Site: https://aladinbk.000webhostapp.com/  -->